<h1 style="font-family:Impact,Arial;font-size:70px;">Pandas &#8212; Part III:<br> Baby names dataset</h1>
<h2 style="font-familï¬y:Arial;">Matias Quiroz (original: Adel Rahmani)</h2>
<p><small> School of Mathematical &amp; Physical Sciences<br>
University of Technology Sydney
</small></p>
<p>
<a href="mailto:matias.quiroz@uts.edu.au" target="_blank">
<small><font color=MediumVioletRed>matias.quiroz@uts.edu.au</font></small></a>
</p>
<hr style="height:5px;border:none;color:#333;background-color:#333;" />

<div style="background-color:#F2FBEF;">
<h2><font color=#04B404>After completing this notebook you should:</font></h2>
<br>
<ul>
<li> Be able to perform basic data loading and manipulation on non-trivial datasets. </li><br>
</ul>
</div>

<div style="background-color:#ADD8E6;">
<h2><font color=#00008B>Suggested way of working with the lecture notebooks:</font></h2>
<br>

<ul>
<li> Open a new empty notebook document through `File->New Notebook->Python 3 (ipykernel)` (or similar depending on version).</li><br>
<li> Keep two documents open. This notebook (or its HTML version) and the notebook you created above. </li><br>
<li> Type your solutions/code in the notebook you created. Avoid copy-pasting as much as possible: You need to develop the "muscle memory" that comes with writing code.</li><br>
</ul>
</div>

<div style="background-color:#F7F2E0;">
<h3> <font color=MediumVioletRed>Note:</font> </h3>
We refer to <em>Wes McKinney</em>'s book <b>Python for Data Analysis, 2nd edition</b> as <b>PDA</b>.<br>

(The page numbers refer to the PDF version of the ebook.)

<a href="http://pandas.pydata.org/"><img src="https://covers.oreillystatic.com/images/0636920050896/lrg.jpg" width="150" /></a> <br>

The datasets used in the book are available from https://github.com/pydata/pydata-book.<br>

<p>If you want to download the entire repository to your computer you can use <code>git</code> to do it.<br> 

<p>In the <code>Terminal</code> (or the command line console in Windows), go to the directory where you want to download the repository and enter:</p>
<pre><code>git clone https://github.com/pydata/pydata-book.git</code></pre></p>
<br>
</div>

In [1]:
from math import *
import numpy as np
import pandas as pd

import os

from pathlib import Path

%matplotlib inline
import matplotlib.pyplot as plt
import matplotlib as mpl

<hr style="height:5px;border:none;color:#333;background-color:#333;" />
<h1> 1. US baby names dataset (page 419 of PDA).</h1>

The AEC dataset was just a warm up. Let us consider something you definitely would not want to analyse by hand.

The dataset can be downloaded from http://www.ssa.gov/oact/babynames/limits.html. (Follow the link and download the <em>National data</em> dataset
in the datasets directory, in a directory called names, and unzip it).

The dataset contains the top 1000 most popular names starting in 1880.

The data for each year is in its own text file. For instance, the data for 1880 is in the file <code>yob1880.txt</code> (which should
be located in the datasets/names/ folder.)

<h3> <center><font color=MediumVioletRed>A. Loading the data</font></center></h3>

The first thing to do is merge the data for all the different years into a single dataframe, however, as a warm up, let us look at the data for a single year.

In [2]:
input_path = Path('names/yob1880.txt')

In [3]:
names1880 = pd.read_csv(input_path, names=['name', 'sex', 'births'])
names1880.head()

        name sex  births
0       Mary   F    7065
1       Anna   F    2604
2       Emma   F    2003
3  Elizabeth   F    1939
4     Minnie   F    1746

Let us try to automate the loading of all the files.

First we need a list of all the files in our directory. 

A <code>Path</code> object has a <code>glob</code> method that returns a generator with the elements within a given directory.

In [4]:
dataset_dir = Path('names/')
#print(list(dataset_dir.glob("*.txt")))
files = [item.name for item in sorted(dataset_dir.glob("*.txt"))]
files[:10]

['yob1880.txt',
 'yob1881.txt',
 'yob1882.txt',
 'yob1883.txt',
 'yob1884.txt',
 'yob1885.txt',
 'yob1886.txt',
 'yob1887.txt',
 'yob1888.txt',
 'yob1889.txt']

In [5]:
# Extract a list of years
years = [item[3:7] for item in files]
years[:10]

['1880',
 '1881',
 '1882',
 '1883',
 '1884',
 '1885',
 '1886',
 '1887',
 '1888',
 '1889']

#### We gather the data into a single dataset in two steps:

1. We create a list of dataframes where each element corresponds to a particular year.
1. We concatenate all the data into a single dataframe.

In [6]:
L = []
for file, year in zip(files, years):
    path = Path(dataset_dir, file)
    df = pd.read_csv(path, names=['name', 'sex', 'births'])
    df['year'] = year
    L.append(df)

In [7]:
L[0].head()

        name sex  births  year
0       Mary   F    7065  1880
1       Anna   F    2604  1880
2       Emma   F    2003  1880
3  Elizabeth   F    1939  1880
4     Minnie   F    1746  1880

In [8]:
L[-1].head()

        name sex  births  year
0     Olivia   F   16573  2022
1       Emma   F   14435  2022
2  Charlotte   F   12891  2022
3     Amelia   F   12333  2022
4     Sophia   F   12310  2022

<h4> Let us concatenate all these dataframes into a single one called <code>names</code>.</h4>
<div style="background-color:#F7F2E0;">
<h3> <font color=MediumVioletRed>Note:</font> </h3>
<ul>
<li> Recall that <code>pd.concat</code> takes a <b>list</b> of dataframes. </li>
<li> We ignore the index when we concatenate the dataframes because the index of each dataframe is meaningless. It is merely the index of the row for each dataframe.</li>
</ul>
</div>

<div style="background-color:#F7F2E0;">
<h2> <font color=MediumVioletRed>Practice makes perfect (needs to be solved for the rest of the notebook to work).</font></h2>
<p>Create the names dataframe from all the yearly data.</p>
</div>

In [9]:
# write your answer in this cell

<div style="background-color:#F2FBEF;">
<p style="font-size:20px;color:#4E9258">&#9786; Good habit:</p> <!--- Smiley --->
<p>It is always a good idea to check the data types of your features (columns). Do not assume that the data you downloaded is in the right format. </p>

<p>If you fix any issue early, it will make your analysis a lot easier.</p>
</div>

In [10]:
names.dtypes

NameError: name 'names' is not defined

#### The `year` feature is of type `object` which is Python's way of telling you it has a generic datatype. 
#### We would like it to be a `datetime` type, so let us fix that.

Pandas has [several features](https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html) that make manipulating date and timestamp objects easy.
(We will also change the type of `sex` to category while we are at it)

<div style="background-color:#F7F2E0;">
<h3> <font color=MediumVioletRed>Note:</font> </h3>
<p>Since pandas version 1.0 text data is no longer constrained to the somewhat vague <code>object</code> data type.
A more explicit <code>StringDtype</code> has been introduced. You can read more about it <a href="https://pandas.pydata.org/pandas-docs/stable/user_guide/text.html">here</a>.</p>    
</div>

<div style="background-color:#F7F2E0;">
<h2> <font color=MediumVioletRed>Practice makes perfect (needs to be solved for the rest of the notebook to work).</font></h2>
<p>Change the name feature to the string data type, the year feature to a datetime object, and the sex feature to a category.</p>
</div>

In [ ]:
# write your answer in this cell

In [ ]:
names.head()

In [ ]:
names.dtypes

Notice how our date column has been changed into a `datetime` object.

By default, since we only specified the year, the `datetime` object is set at time 00:00:00 on the 1st of January.

In [ ]:
names.iloc[0]

#### So how big is our dataset?

In [ ]:
names.count()

#### How is the data split on the sex of the baby?

In [ ]:
names.sex.value_counts()

#### Let us get percentages.

In [ ]:
names.sex.value_counts(normalize=True).round(2)*100

#### A  nicer output. 
(remember that the result of `value_counts` is a pandas `Series`)

In [ ]:
names.sex.value_counts(normalize=True).apply(lambda x: f'{x*100:.0f}%')

#### Let  us find the total number of births in each year, for both sexes.

In [ ]:
# Note the updated syntax compared to the book. 
# index instead of rows and columns instead of cols.
total_births = names.pivot_table('births', index='year', columns='sex', aggfunc=sum)

In [ ]:
total_births.head()

<div style="background-color:#F7F2E0;">
<h3> <font color=MediumVioletRed>Remark:</font> </h3>
<p>The <code>pivot_table</code> method is just a convenient shortcut for a <code>groupby</code> operation.</p>
</div>

In [ ]:
names.groupby(['year', 'sex']).births.sum().unstack().head()

In [ ]:
total_births.plot(figsize=(12, 4), 
                  title="Total births by sex and year", 
                  lw=3, 
                  color=('r', 'g'), 
                  alpha=0.5);

#### Let us add a `prop` column that will tell us the proportion of births for a given name for each year (see PDA).

In [ ]:
def add_prop(group):
    group['prop'] = group.births / group.births.sum()
    return group

names = names.groupby(['year', 'sex']).apply(add_prop)

In [ ]:
names.head()

#### How many unique names are there for each year and sex?

<div style="background-color:#F7F2E0;">
<h2> <font color=MediumVioletRed>Practice makes perfect (needs to be solved for the rest of the notebook to work).</font></h2>
    <p>Write a single line of code that creates a <code>unique_names</code> variable with the answer.</p>
</div>

In [ ]:
# write your answer in this cell

In [ ]:
unique_names.plot(figsize=(12, 4), 
                  title="Unique names by sex and year", 
                  lw=3, 
                  color=('r', 'g'), 
                  alpha=0.5);

<div style="background-color:#F7F2E0;">
<h2> <font color=MediumVioletRed>Practice makes perfect.</font></h2>
    <p>How many names from 1880 were still used in the last year of the dataset, and which ones are not used anymore.
    <p>Compute the answer below. </p>
</div>

In [ ]:
# write your answer in this cell

<h3> <center><font color=MediumVioletRed>B. Data exploration</font></center></h3>

<h4> Let us extract the names that were given to both male and female babies and put it in a list named <code>both</code>.</h4>

In [ ]:
# write your answer in this cell
male_names = names.loc[names['sex'] == 'M'].name.unique()
female_names = names.loc[names['sex'] == 'F'].name.unique()
print(male_names[:10], len(male_names))
print(female_names[:10], len(female_names))
both = list(set(male_names).intersection(set(female_names)))
print(len(both))

In [ ]:
print(f"{len(both)} names in our dataset were given to both boys and girls. \n\n Here they are:\n")

print(" | ".join(sorted(both)))

<h4> Does anything strike you as surprising?</h4>
<p>Some of the names do not strike me as being gender neutral. </p>
<p>For instance I (Adele, not Matias) would expect names like Christina or Lucille to be only given to girls (or <a href="https://en.wikipedia.org/wiki/Lucille_(guitar)">B.B. King's guitar</a>), but according to our computation, these names were also given to boys. </p>

<p>On the other hand, while to me the name Basil evokes a cantankerous hotel manager in Torquay, apparently, some parents thought it the perfect moniker for their baby girl. Similarly, the names Sylvester or Hannah were given to both boys and girls.</p>

<p>Let us check this.</p>

In [ ]:
names[names.name == 'Lucille'].head()

#### In how many years does the name Lucille appear for either boys or girls?

In [ ]:
names[names.name == 'Lucille']['sex'].value_counts()

<div style="background-color:#F7F2E0;">
<h3> <font color=MediumVioletRed>Note:</font> </h3>
<p>Note that <b>this is not</b> the number of babies of each sex with that name. </p>

<p>We've grouped the data by <code>year</code> and <code>sex</code> so this count corresponds to the <b>number of years</b> in which at least five babies of either sex were named Lucille (5 being the yearly threshold beyond which a name isn't recorded in the data set).</p>
</div>

If we wanted to compute the number of babies of each sex with that name we will have to sum the <code>births</code> variable. The first code below does this by year and sex. The second one by sex only.

In [ ]:
def sum_lucille_births(x):
    return x[x['name'] == 'Lucille']['births'].sum() 
    
names_groupby_sex_by_year = names.groupby(['sex', 'year'])

# by sex and year
display(names_groupby_sex_by_year.apply(sum_lucille_births).unstack(level = 0))

# by sex
display(names.groupby(['sex']).apply(sum_lucille_births))

# We could subset directly before grouping also do
display(names[names.name == 'Lucille'].groupby(['year', 'sex'])['births'].sum().unstack().fillna(0))

When did Lucille become a name for a boy?

In [ ]:
df = names[names.name == 'Lucille'].groupby(['year', 'sex'])['births'].sum().unstack()
display(df[df.M > 0].head())

We can compute the same information for other names.

In [ ]:
names[names.name == 'Christina']['sex'].value_counts()

In [ ]:
names[names.name == 'Basil']['sex'].value_counts()

In [ ]:
names[names.name == 'Sylvester']['sex'].value_counts()

In [ ]:
names[names.name == 'Hannah']['sex'].value_counts()

How can we get the __total number__ of babies named Basil for any given year? As an alternative to the Lucille example above, we can use the following call.

In [ ]:
basil = names[names.name == 'Basil'].pivot_table('births', 
                                                 index='year', 
                                                 columns='sex', 
                                                 fill_value=0, 
                                                 aggfunc=np.sum )
basil.head()

In [ ]:
basil[basil.F != 0]

#### Note that the number of years is in agreement with the output of `value_counts` above.

Let us visualise this. I am using a `log` scale because otherwise only the data for the dominant gender would be visible.

In [ ]:
basil.plot(figsize=(20, 6), 
           logy=True, 
           marker='o', 
           lw=1, 
           color=('red', 'green'), 
           title='Basil',
           alpha=0.5)
pass

In [ ]:
basil.plot(figsize=(20, 6), 
           logy=False, 
           marker='o', 
           lw=1, 
           color=('red', 'green'), 
           title='Basil',
           alpha=0.5)

In [ ]:
(names[names.name == 'Christina']
     .pivot_table('births', 
                  index='year', 
                  columns='sex', 
                  fill_value=0, 
                  aggfunc=np.sum)
     .plot(figsize=(20, 6),
           logy=True, 
           marker='o', 
           lw=1,
           color=('r', 'g'), 
           title='Christina',
           alpha=0.5)
)
pass

#### Let us put that code into a function to make it more convenient.

In [ ]:
def timeline_name(name='Basil', use_log=False, figsize=(20, 6)):
    ax = (names[names.name == name]
            .pivot_table('births', 
                         index='year', 
                         columns='sex', 
                         fill_value=0, 
                         aggfunc=np.sum)
            .plot(figsize=figsize,
                  logy=use_log, 
                  marker='o', 
                  lw=1,
                  color=('r', 'g'), 
                  alpha=0.5)
    )
    ax.set_xlabel('year', fontsize=14)
    ax.set_ylabel('count', fontsize=14)
    ax.set_title(name, fontsize=16)

In [ ]:
timeline_name('Lucille', use_log=True)

In [ ]:
timeline_name('Sylvester', use_log=True)

In [ ]:
timeline_name('Hannah', use_log=True)

<h3> <center><font color=MediumVioletRed>C. The Seinfeld effect?</font></center></h3>

<p>Note that a plausible explanation of why the dominant gender for a given name may have changed over the years can sometimes be found relatively easily, as in the case of the name <b>Ashley</b>... For other names, a change in popularity may be due to a less conventional reason... </p>

<p>In an episode of <a href="http://www.imdb.com/title/tt0697774/">Seinfeld</a> George mentions to his friends that should he ever have a kid, he would name him (or her) Seven, after the number of Yankee baseball player Mickey Mantle.</p>

<p>Let's see if the data can tell us anything about this.</p>

In [ ]:
'Seven' in names.name.unique()

The Seinfeld episode was aired in 1996.  

Let us see if there is any indication that it may have influenced baby names.

First let us create a date range over which to plot the data.

In [ ]:
seinfeld_year = '1996'
start = '1991'
end   = '2019'

# Let's create a range of dates from start to end.
date_range = pd.date_range(start, end, freq='A-JAN')

In [ ]:
date_range

In [ ]:
# The data
data = (names[names.name == 'Seven']
            .pivot_table('births', 
                         index='year', 
                         columns='sex', 
                         fill_value=0, 
                         aggfunc=np.sum)
       )

# The base plot
ax = data.plot(figsize=(16, 6), 
          logy=False, 
          marker='o', 
          color=('r', 'g'), 
          alpha=0.5, 
          title='Seven', 
          grid=False)

# The vertical strip
ax.axvline(seinfeld_year, ymin=0, ymax=1000, lw=15, color='orange', alpha=0.5)
ax.set_xticks(date_range)
ax.set_xlim([start, end])

# Ensure that the labels on the x axis match the years.
ax.set_xticklabels(date_range.year, rotation=0, ha='center' )

# Annotate the figure with some text by specifying location using xy parameter
ax.annotate('Episode "The Seven" is aired', 
            xy=(pd.to_datetime(seinfeld_year, format="%Y"), 40),
            xycoords='data',
            rotation=90,
            horizontalalignment='center'
            )

plt.show()

<p>Note that this does not prove that the show "created" the name fad (correlation &#8800; causation and all that), but it does suggest that it may have enhanced it...</p> 


<div style="background-color:#F7F2E0;">
<h2> <font color=MediumVioletRed>Practice makes perfect.</font></h2>
<p>Since we are on this topic, can you find other possible influences of pop culture in the data set?</p>
</div>

<div style="background-color:#F7F2E0;">
<h2> <font color=MediumVioletRed>Practice makes perfect.</font></h2>
<p>We have looked at a few name trends over the years, and for some we can observe sharp increases, or decreases in the number of babies.</p> <p>However, this can be misleading. The number of babies with a given name in a given year is one thing, but in order to get an accurate view of the popularity of the name we should account for the fact that the total number of births changes over time.</p> 
<p>Therefore, we should normalise the number of boys and girls with a given name in a given year by the total number of births in that year. This way we can plot the proportion of boys or girls with a given name in that year.</p>
    
<p>Modify the code for <code>timeline_name</code> to plot the true popularity trend of a given name. Call the new function <code>timeline_name_normalised</code>.</p>    
</div>

#### Let us get a list of the top 1000 most popular names in each year and for each sex.

#### We then use it to visualise the popularity of our chosen names across the years.

In [ ]:
def get_top1000(group):
    return group.sort_values(by='births', ascending=False)[:1000]

In [ ]:
grouped = names.groupby(['year', 'sex']) 
top1000 = grouped.apply(get_top1000).drop(['year', 'sex'], axis='columns')
top1000.head()

In [ ]:
# get rid of the original index
top1000.index = top1000.index.droplevel(2)
top1000.head()

In [ ]:
top1000.count()

In [ ]:
boys, girls = top1000[top1000.index.get_level_values(1) == 'M'],  top1000[top1000.index.get_level_values(1) == 'F']

In [ ]:
boys.head()

In [ ]:
girls.head()

In [ ]:
total_births = top1000.pivot_table('births', index='year', columns='name', aggfunc=np.sum)
total_births.head().fillna(0)

In [ ]:
subset = total_births[['Lucille', 'Christina', 'Cristina', 'Basil', 'Sylvester', 'Hannah']]

In [ ]:
subset.plot(subplots=True, figsize=(10, 10), grid=False, lw=2, color='r', title="Number of births per year")
pass

<div>
<br>
<br>
<hr style="height:5px;border:none;color:#333;background-color:#333;" />
<h1> Practice, Practice, Practice</h1>
<ul>

<li> Work through the notebook again and make sure you understand <b>every concept and every line of code</b>.</li><br>

<li> If you have not done so yet, solve the tutorial problems corresponding to Notebook 7. Nothing new was really introduced this week, we are just applying what we learned in Notebook 7 to a more complex dataset.</li><br>

    
   <li> Check out <a href="http://flowingdata.com/2013/09/25/the-most-unisex-names-in-us-history/">this visualisation</a> of the US baby names dataset.</li><br>

    
    
<li>Work through section 11 of the pandas chapter of the <a href="http://nbviewer.jupyter.org/github/jakevdp/PythonDataScienceHandbook/blob/master/notebooks/03.11-Working-with-Time-Series.ipynb">Python Data Science Handbook</a> by Jake VanderPlas.</li>
</ul>
</div>

> Material by Adel Rahmani